.cards-box {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  top: 120px;
  left: 250px;
  width: 95vw;
  height: 100vh;
}

.card {
  width: 250px;
  height: 250px;
  padding: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px gray;
  overflow: hidden;
  cursor: pointer;
  margin: 0px 10px 10px 10px;
}

.card-img-top {
  height: 210px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-text {
  text-align: center;
  font-size: 14px;
}

/* 모달창 */

.modal {
}
