<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>데려갈꼬냥? | 지역별 고양이</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    crossorigin="anonymous">

    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
        rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS -->
    <link href="/static/css/styles.css" rel="stylesheet" />

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"> 
    </script>
    <!-- jQuery -->
    <script src="jquery-3.4.1.min.js"></script>

</head>
</script>
<!-- Background -->
<style>
    body {
        background: linear-gradient(var(--bg-color),white);
        height: 200vh;
        width: 100vw;
      }
</style>

<body>

    <!-- Nav-bar -->
    <nav class="nav-bar">
        <div class="nav-bar-box">
            <ul class="nav-bar__list">
                <li><a href="regions.html">FIND</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">REVIEW</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
            <ul class="nav-bar__list-2">
                <li><a href="#">나의 고양이 취향은?</a></li>
            </ul>
        </div>
    </nav>

    <!-- Menu-bar -->
    <div class="menu-bar">
        <img src="/static/logo.png" alt="로고입니다." onclick="location.href='regions.html'">

        <li class="menu-bar-box">
            <span class="do-name">도 이름</span>
            
            <ul class="menu-bar-list">
                <li class="si-name" onclick="location.href='#'">
                    - 시 이름
                </li>
                <li class="si-name" onclick="location.href='#'">
                    - 시 이름
                </li>
                <li class="si-name" onclick="location.href='#'">
                    - 시 이름
                </li>
                <li class="si-name" onclick="location.href='#'">
                    - 시 이름
                </li>
                <li class="si-name" onclick="location.href='#'">
                    - 시 이름
                </li>

            </ul>
        </li>

        <li class="menu-bar-box">
            <span class="do-name">도 이름</span>
            
            <ul class="menu-bar-list">
                <li class="si-name" onclick="location.href='#'">
                    - 시 이름
                </li>
                <li class="si-name" onclick="location.href='#'">
                    - 시 이름
                </li>
                <li class="si-name" onclick="location.href='#'">
                    - 시 이름
                </li>
                <li class="si-name" onclick="location.href='#'">
                    - 시 이름
                </li>
            </ul>
        </li>


    </div>
    
    <!-- 고양이 카드 박스 -->
    <div class="catcards-box">
        <div class="cat-card" style="width: 18rem;" onclick="location.href='#'">
            <img class="card-img-top" src="https://cdn.britannica.com/q:60/91/181391-050-1DA18304/cat-toes-paw-number-paws-tiger-tabby.jpg" alt="Card image cap">
            <p class="card-text">공고번호가 들어올 자리 ^^</p>
        </div>
        <div class="cat-card" style="width: 18rem;" onclick="location.href='#'">
            <img class="card-img-top" src="https://cdn.britannica.com/q:60/91/181391-050-1DA18304/cat-toes-paw-number-paws-tiger-tabby.jpg" alt="Card image cap">
            <p class="card-text">공고번호가 들어올 자리 ^^</p>
        </div>
        
    </div>
   
<!-- 모달창 -->
<div class="modal hidden">
    <div class="modal__overlay"></div>
    <div class="modal__content">
        <img class="modal-img" src="https://www.animal.go.kr/front/fileMng/imageView.do?f=/files/shelter/2021/09/202109251009790.jpg" alt="고양이 이미지">
        <img class="modal-logo" src="/static/logo.png" alt="데려갈꼬냥?" >
        <ul>
            <li>
                <span class="modal-title">공고번호</span><span class="modal-text">서울-관악-2021-00449</span>
            </li>
            <li>
                <span class="modal-title">색상 / 성별</span><span class="modal-text">삼색 / 암컷</span>
                <br>
                <span class="modal-title">나이 / 체중</span><span class="modal-text">2021(년생) / 0.4(kg)</span>
                <br>
                <span class="modal-title">특징</span><span class="modal-text">구청신고,탈진,호흡기질환,설사</span>
                <br>
                <span class="modal-title">중성화</span><span class="modal-text">아니오</span>
            </li>
            <li>
                <span class="modal-title">관할기관</span><span class="modal-text">서울특별시 관악구</span>
                <br>
                <span class="modal-title">보호센터</span><span class="modal-text">러브펫종합동물병원</span>
                <br>
                <span class="modal-title">주소</span><span class="modal-text">서울특별시 관악구 남부순환로 1429 (신림동)</span>
                <br>
                <span class="modal-title">연락처</span><span class="modal-text">02-837-8875</span>
            </li>
        </ul>
    </div>
</div>

    <script>

        //첫 화면에 시 이름 안보이게
        $('.menu-bar-list').hide();

        //도 이름을 클릭하면 시 이름이 나타나게//
        $('.do-name').click(function() {
            $('.menu-bar-list').each(function (i) { //each(function (i) ????)
                if ($(this).css('display') == 'block') {
                    //$(this).hide();
                    $(this).slideUp('fast');  //
                }
            });
            //$(this).next().show();
            $(this).next().slideDown('fast');
        });
        
        
        /*모달창 기능 jQuery */
        
        $(function(){ 

            $(".cat-card").click(function(){
                    $(".modal").fadeIn('fast');  //cat-card click-> onModal
            });
            
            $(".modal__overlay").click(function(){
                    $(".modal").fadeOut('fast'); //영역 밖 click-> offModal
            });
            });

        /* 모달창 기능 Vanila JS
        const openButton = document.querySelector('.cat-card'); //onModal button
        const modal = document.querySelector('.modal'); //html에서의 모달 촤상위 요소
        const overlay = document.querySelector('.modal__overlay'); //모달창 활성시 배경 흐리게

        const openModal = () => {
            modal.classList.remove('hidden'); //onModal -> hidden요소가 사라지게. (모달켜짐)
        }
        const closeModal = () => {
            modal.classList.add('hidden'); //offModal -> hidden요소가 다시 등장. (모달꺼짐)
        }

        openButton.addEventListener('click', openModal); //onModal

        overlay.addEventListener('click',closeModal); //offModal (모달창 영역 밖 클릭) */


        /*api 데이터에서 도, 시 이름 따오기 -> 미완성
         function showDoSinames() {
            $.ajax({
                type: "GET",
                url: "/do-si-name",
                data: {},
                success: function (response) {
                    let articles = response['all_articles']
                }
            })}; */

    </script>
        

    



    
    
</body>

</html>