<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/styles.css" rel="stylesheet"/>

    <title>나와 맞는 고양이 찾기</title>


</head>

<style>
    html {
        width: 100%; 
        height: 100%;
    }
    
    body {
        width: 100%; 
        height: 100%;
        background-color: #faf1be;
        color: black;
        font-family: "SEBANG_Gothic_Bold";
    }
</style>


<body>   
    <section id="container">
        <div class="wrap">
            <!-- 고양이 테스트 타이틀 -->
            <div class="title">
                <h3 class="main_title">나의 고양이</h3>
                <h3 class="sub_title">Find A CAT</h3>
            </div>

            <!-- 고양이 테스트 애니매이션 -->
            <div class="intro">
                <h1>나와 맞는 고양이는?</h1>
                <div class="type">
                    <ul class = "type_list">
                        <li>삼색이</li>
                        <li>흰둥이</li>
                        <li>검둥이</li>
                        <li>회색냥</li>
                        <li>턱시도</li>
                        <li>고등어</li>
                        <li>치즈냥</li>
                    </ul>
                </div>
            </div>


            <!-- 고양이 테스트  버튼 -->
            <div class="button">
            <a href="cat_test1.html"> 
                <button class="start" type="button">시작하기</button>
            </a>
            </div>

            <!-- 결과창 -->
            <div class="result_data">
                <div class="data_wrap">
                    <h3>선택된 고양이</h3>
                    <ul>
                        <li>삼색이 : 0명</li>
                        <li>흰둥이 : 0명</li>
                        <li>검둥이 : 0명</li>
                        <li>회색냥 : 0명</li>
                        <li>턱시도 : 0명</li>
                        <li>고등어 : 0명</li>
                        <li>치즈냥 : 0명</li>
                    </ul>
                </div>
            </div>

            <!-- logo -->
            <div class="logo">
                <a href="door.html">
                    <img src="/static/logo2.png" alt="데려갈꼬냥?">
                </a>
            </div>
        </div>
        </div>    
    </section>    
</body>
</html>