<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/styles.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javacript" src="js/cat_test1.js"></script>

    <title>고양이 테스트</title>
    
</head>

<style>
    button, .submit_btn {
        width: 100px;
        height: 40px;
        padding : 5px;
        border-style: none;
        border-radius: 10px;
        font-size: 20px;
        background-color: #7f47dd;
        color: #fff;
        cursor: pointer;
    }
    
    button:hover, .submit_btn:hover {
        color: #7f47dd;
        background-color: #fff;
    }

    html, body {
        height: 100%;
        width: 100%;
        }
    
        body {
            background-color: #faf1be;
            color: rgb(0, 0, 0);
            overflow: hidden;
            font-family: "SEBANG_Gothic_Bold";
        }
</style>

<body>
    <section id="survey">
        <div class="warp">
            <form id="form">
                <div class="test">
                    <div class="question_box">
                        <h3 class="number">1/5</h3>
                        <h3 class="question">만약 여행을 간다면?</h3>
                    </div>
                    <div class="answer">
                        <div>
                            <input id="1" type="radio" name="answer1"> 
                            <label for="1">해외 여행!</label>
                        </div>
                        <div>
                            <input id="2" type="radio" name="answer2">
                            <label for="2">국내이지만 신박한 곳으로?</label>
                        </div>
                        <div>
                            <input id="3" type="radio" name="answer3">
                            <label for="3">가까운 곳으로 가자!</label>
                        </div>
                        <div>
                            <input id="4" type="radio" name="answer4">
                            <label for="4">그냥 친구들 따라가기</label>
                        </div>
                        <div>
                            <input id="5" type="radio" name="answer5">
                            <label for="5">난 집이 좋아!</label>
                        </div>
                    </div>    
                    <div class="btn_wrap">
                        <button class="next_btn">다 음</button>
                    </div>
                </div>
                <div class="test">
                    <div class="question_box">
                        <h3 class="number">2/5</h3>
                        <h3 class="question">고양이와 하고 싶은것은?</h3>
                    </div>
                    <div class="answer">
                        <div>
                            <input id="1" type="radio" name="answer1">
                            <label for="1">츄르 먹여보기</label>
                        </div>
                        <div>
                            <input id="2" type="radio" name="answer2">
                            <label for="2">장난감으로 고양이 관심 끌기</label>
                        </div>
                        <div>
                            <input id="3" type="radio" name="answer3">
                            <label for="3">사진 찍기</label>
                        </div>
                        <div>
                            <input id="4" type="radio" name="answer4">
                            <label for="4">박스에 넣어보기</label>
                        </div>
                        <div>
                            <input id="5" type="radio" name="answer5">
                            <label for="5">각자 할 일 하기</label>
                        </div>
                    </div>    
                    <div class="btn_wrap btn_sort">
                        <button class="prev_btn">이 전</button>
                        <button class="next_btn">다 음</button>
                    </div>
                </div>
                <div class="test">
                    <div class="question_box">
                        <h3 class="number">3/5</h3>
                        <h3 class="question">내가 좋아하는 고양이 성격은?</h3>
                    </div>
                    <div class="answer">
                        <div>
                            <input id="1" type="radio" name="answer1">
                            <label for="1">밝고 장난을 좋아함</label>
                        </div>
                        <div>
                            <input id="2" type="radio" name="answer2">
                            <label for="2">조용하지만 애교쟁이</label>
                        </div>
                        <div>
                            <input id="3" type="radio" name="answer3">
                            <label for="3">차분하고 섬세한</label>
                        </div>
                        <div>
                            <input id="4" type="radio" name="answer4">
                            <label for="4">츤데레</label>
                        </div>
                        <div>
                            <input id="5" type="radio" name="answer5">
                            <label for="5">야생의 고양이</label>
                        </div>
                    </div>    
                    <div class="btn_wrap btn_sort">
                        <button class="prev_btn">이 전</button>
                        <button class="next_btn">다 음</button>
                    </div>
                </div>
                <div class="test">
                    <div class="question_box">
                        <h3 class="number">4/5</h3>
                        <h3 class="question">운동을 하게 된다면?</h3>
                    </div>
                    <div class="answer">
                        <div>
                            <input id="1" type="radio" name="answer1">
                            <label for="1">팀이나 동호회에 가서 하기</label>
                        </div>
                        <div>
                            <input id="2" type="radio" name="answer2">
                            <label for="2">헬스장 가기</label>
                        </div>
                        <div>
                            <input id="3" type="radio" name="answer3">
                            <label for="3">매일 동네 조깅</label>
                        </div>
                        <div>
                            <input id="4" type="radio" name="answer4">
                            <label for="4">집에서 홈트레이닝</label>
                        </div>
                        <div>
                            <input id="5" type="radio" name="answer5">
                            <label for="5">호흡</label>
                        </div>
                    </div>    
                    <div class="btn_wrap btn_sort">
                        <button class="prev_btn">이 전</button>
                        <button class="next_btn">다 음</button>
                    </div>
                </div>
                <div class="test">
                    <div class="question_box">
                        <h3 class="number">5/5</h3>
                        <h3 class="question">고양이가 사고를 쳤을 때 용서 가능한 범위</h3>
                    </div>
                    <div class="answer">
                        <div>
                            <input id="1" type="radio" name="answer1">
                            <label for="1">난도질 당한 소파</label>
                        </div>
                        <div>
                            <input id="2" type="radio" name="answer2">
                            <label for="2">벽걸이 TV 떨어짐</label>
                        </div>
                        <div>
                            <input id="3" type="radio" name="answer3">
                            <label for="3">모니터에 생긴 손톱 자국</label>
                        </div>
                        <div>
                            <input id="4" type="radio" name="answer4">
                            <label for="4">이빨 자국이 생긴 옷</label>
                        </div>
                        <div>
                            <input id="5" type="radio" name="answer5">
                            <label for="5">엎질러진 물</label>
                        </div>
                    </div>    
                    <div class="btn_wrap btn_sort">
                        <button class="prev_btn">이 전</button>
                        <input type="submit" value="제 출" class="submit_btn">
                    </div>
                </div>
            </form>
        </div>
    </section>

</body>

</html>