<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link href="/static/css/styles.css" rel="stylesheet" />
</head>

<style>

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Noto Sans KR", sans-serif;
      }

      body {
        background: linear-gradient(var(--bg-color), white);
        width: 100%;
        height: 100%;
    }
      
      a {
        text-decoration: none;
        color: black;
      }
      
      li {
        list-style: none;
      }
</style>

<body>
    <!-- Nav-bar -->
    <nav class="nav-bar">
        <div class="nav-bar-box">
            <ul class="nav-bar__list">
                <li><a href="/regions">FIND</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">REVIEW</a></li>
                <li><a href="/login">LOGIN</a></li>
            </ul>
            <ul class="nav-bar__list-2">
                <li><a href="#">나의 고양이 취향은?</a></li>
            </ul>
        </div>
    </nav>

    <div class="wrap">
        <div class="login">
            <h2>JOIN</h2>
            <div class="join_id">
                <h4>ID</h4>
                <input type="id" name="" id="" placeholder="id">
            </div>
            <div class="join_pw">
                <h4>Password</h4>
                <input type="password" name="" id="" placeholder="password">
            </div>
            <div class="join_name">
                <h4>Name</h4>
                <input type="name" name="" id="" placeholder="name">
            </div>
            <div class="join_email">
                <h4>E-mail</h4>
                <input type="email" name="" id="" placeholder="email">
            </div>
            <div class="submit">
                <input type="submit" value="Click">
            </div>
        </div>
    </div>
</body>
</html>